[Desktop Entry]
Version=1.0
Type=Application
Name=Listen to Number
Comment=A simple application to practice listening to numbers
Exec=sh -c 'cd "$(dirname "%k")" && ./env/bin/python3 main.py'
Icon=speaker_icon
Path=%k
Terminal=false
Categories=Education;Utility;
X-KeepTerminal=false
Actions=
Icon=/home/marco/PycharmProjects/listen_to_number/speaker_icon.png
